@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans TC";
    color: #212121;
}

header {
    color: #212121;
}
a {
    color: #0053b0;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    @apply text-[36px] font-[700];
}
h2 {
    @apply text-[30px] font-[700];
}
h3 {
    @apply font-[700];
}
.max-container {
    @apply max-w-[1272px] w-full xl:px-2;
}

.max-center {
    @apply flex flex-col items-center;
}

button {
    @apply transition;
}

.not-button {
    @apply border-[#0053B0] border text-[#0053B0] hover:bg-[#F5F5F5] h-[40px] w-[87px];
    border-radius: 5px;
    padding: 8px 16px;
}
.ok-button {
    @apply bg-[#0053B0] text-white hover:bg-[#133D6C] cursor-pointer h-[40px] w-[87px];
    border-radius: 5px;
    padding: 8px 16px;
}

input[type="checkbox"] {
    accent-color: #1890ff;
    border-radius: 2px;
    z-index: 20;
    opacity: 1;
    appearance: checkbox;
    opacity: 0.4;
}

input[type="checkbox"]:checked {
    opacity: 1;
}
