@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans TC";
    color: #212121;
}

header {
    color: #212121;
}
.link {
    color: #0053b0;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    @apply text-[36px] font-[700];
}
h2 {
    @apply text-[30px] font-[700];
}
h3 {
    @apply font-[700] text-start;
}
.max-container {
    @apply max-w-[1272px] w-full xl:px-2;
}

.max-center {
    @apply flex flex-col items-center;
}

button {
    @apply transition;
}

.not-button {
    @apply border-[#0053B0] border text-[#0053B0] hover:bg-[#F5F5F5] h-[40px] w-[87px];
    border-radius: 5px;
    padding: 8px 16px;
}
.ok-button {
    @apply bg-[#0053B0] text-white hover:bg-[#133D6C] cursor-pointer h-[40px] w-[87px];
    border-radius: 5px;
    padding: 8px 16px;
}

input[type="checkbox"] {
    accent-color: #1890ff;
    border-radius: 2px;
    z-index: 20;
    opacity: 1;
    appearance: checkbox;
    opacity: 0.4;
}

input[type="checkbox"]:checked {
    opacity: 1;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 134px solid #f0f2f5;
    position: absolute;
    top: 326px;
}

.accordion-inactive:hover {
    background-color: #e6f3ff;
}

.accordion-inactive {
    color: #212121;
    background-color: transparent;
}

.accordion-active {
    background-color: #0053b0;
    color: #fff;
}
