.complaint-form form {
    @apply flex flex-col gap-6 sm:items-start;
}
.complaint-form .option {
    @apply flex sm:flex-col gap-4 items-center;
}
.complaint-form legend,
.complaint-form form > label > span {
    @apply text-[#666666] !w-[150px];
}

.complaint-form fieldset > div {
    @apply flex gap-4 sm:flex-col;
}

.complaint-form fieldset label {
    @apply flex gap-2 sm:w-full items-center;
}

.complaint-form form > label {
    @apply flex gap-4 items-center sm:flex-col sm:flex sm:items-stretch w-full;
    color: #000000d9;
}

.complaint-form input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    @apply sm:w-full;
    background-color: #f8f8f8;
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
}

.complaint-form input[type="radio"] {
    width: 16px;
    height: 16px;
    accent-color: #1890ff;
}
