.market-table {
    @apply sm:px-0;
    width: 100%;
}

.market-table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.market-table td {
    padding: 16px 0;
    text-align: center;
}

.market-table tbody {
    @apply divide-y divide-[#EEE];
}

.market-table th {
    font-weight: normal;
    padding: 8px 0;
    background-color: #eeeeee;
}
.market-table-title {
    padding: 16px 0;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-weight: 700;
}

.market-table table thead tr {
    @apply divide-x divide-[#F8F8F8];
}

.important-note {
    @apply text-[#D33238] text-[14px] hover:text-[#EF383F];
}

.two-row-table table {
    @apply sm:grid sm:grid-cols-2;
}

.two-row-table tr {
    @apply sm:flex sm:flex-col;
}

.two-row-table th,
.two-row-table td {
    @apply sm:h-[60px];
}

.multi-row-table-scroll {
    @apply sm:overflow-x-scroll max-w-[90vw];
}
.multi-row-table table {
    @apply sm:!w-[700px];
}
